html {
  height: 100%;
  font-family: sans-serif;
}

body {
  overflow: hidden;
}

img {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  letter-spacing: -0.1em;
  background-color: rgba(255, 165, 0, 0.2);
  font-size: 2em;
  padding-left: 1em;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  background-color: rgba(255, 165, 0, 0.2);
  padding: 0 1em 0 2em;
  color: white;
  letter-spacing: -.11em;
  font-weight: bold;
  font-size: 32px;
}
