html {
  font-family: 'Oxygen', Verdana;
}

img {
  display: block;
  margin: 10% auto 0 auto;
  width: 40%;
  max-width: 18em;
}

h1 {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 2em;
}

p {
  text-align: center;
  line-height: 1.6em;
  margin-bottom: 2.8em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5em;
  background-color: white;
}

a {
  color: rgb(248,136,74);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
