html {
  font-family: Verdana;
}

img {
  display: block;
  margin: 10% auto 0 auto;
  width: 40%;
  max-width: 18em;
}

h1 {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 2em;
}

p {
  text-align: center;
  line-height: 1.6em;
  margin-bottom: 2.8em;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

a {
  color: rgb(248,136,74);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.links {
  margin: 1em auto;
}
